/*
Template Name: LaunchPage
Author URI: https://themeforest.net/user/epic-themes
Author Name: Epic Themes
Version: 1.0
*/

/* --- TABLE OF CONTENT

01. GENERAL LAYOUT
02. MENU-NAV
03. FOOTER
04. HOME
05. TEAM
06. FEATURES
07. GALLERY
08. PRICING
09. CONTACT
10. OTHER ELEMENTS
		a. Buttons
		b. Testimonials
		c. Benefits List
		d. Fun Facts
		e. Dropcaps Features
11. MEDIA QUERIES

--- */

/* ========================================================== */
/* 			               01. GENERAL LAYOUT                 */
/* ========================================================== */

ul {
	padding: 0;
}

ul,
ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	color: #858585;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
}

ul li,
ol li {
	font-size: 17px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
}

ul li i {
	vertical-align: middle;
	padding-right: 5px;
}

p {
	font-size: 17px;
	line-height: 28px;
	font-weight: 400;
	color: #7c8595;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
	text-decoration: none;
	outline: 0;
}

a:hover {
	color: #017df7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito', sans-serif;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 20px;
	color: #071e55;
	font-weight: 700;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

h2.section-title {
	margin-bottom: 10px;
}

p.section-subtitle {
	font-size: 18px;
}

p.section-subtitle.white {
	color: #ffffff;
}

p.section-subtitle.black {
	color: #252525;
}

iframe {
	max-width: 100%;
	border: none;
}

.iframe-youtube {
	position: relative;
	margin-top: 30px;
	z-index: 100;
}

.iframe-youtube iframe {
	padding: 10px 10px;
	box-shadow: 0 15px 36px rgba(0, 0, 0, 0.20);
	background-color: #fff;
	webkit-border-radius: 8px 8px;
	-moz-border-radius: 8px 8px;
	border-radius: 8px 8px;
	z-index: 100;
}

.popup-gallery:hover .video-popup-image {
	opacity: 1;

}

.video-play-icon {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 40px;
	color: #007bff;
	background-color: rgba(0, 123, 255, 0.70);
	border-radius: 50% 50%;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.video-play-icon:hover {
	background-color: rgba(0, 123, 255, 0.99);
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.video-play-icon i {
	color: #fff;
}

.white-text {
	color: #fff;
}

.red {
	color: #e52f37;
}

.strong {
	font-weight: bold;
}

.section-bg-1 {
	background: url(../images/bg10.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	position: relative;
	padding: 110px 0;
}

.section-bg-2 {
	background: url(../images/bg10.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	position: relative;
	padding: 120px 0;
}

.section-bg-3 {
	background: url(../images/bg10.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	position: relative;
	padding: 140px 0;
}

.section-bg-overlay {
	width: 100%;
	background: #e52f37;
	opacity: 0.95;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.section-white {
	background: #fff;
	padding: 90px 0 100px 0;
}

.section-grey {
	background: #f1faff;
	padding: 90px 0 100px 0;
}

.section-pricing {
	background: #f1faff;
	padding: 90px 0 90px 0;
}

.section-red {
	background: #e52f37;
	padding: 90px 0 100px 0;
}

.section-white.no-padding,
.section-grey.no-padding,
.section-red.no-padding {
	padding: 0;
}

.section-white.medium-paddings,
.section-grey.medium-paddings,
.section-red.medium-paddings {
	padding: 60px 0;
}

.section-white.small-paddings,
.section-grey.small-paddings,
.section-red.small-paddings {
	padding: 30px 0;
}

.section-white.xsmall-paddings,
.section-grey.xsmall-paddings,
.section-red.xsmall-paddings {
	padding: 10px 0;
}

.section-white.small-padding-top,
.section-grey.small-padding-top,
.section-red.small-padding-top {
	padding: 30px 0 90px 0;
}

.section-white.small-padding-bottom,
.section-grey.small-padding-bottom,
.section-red.small-padding-bottom {
	padding: 90px 0 70px 0;
}

.section-white.no-padding-bottom,
.section-grey.no-padding-bottom,
.section-red.no-padding-bottom {
	padding: 90px 0 0 0;
}

.small-col-inside {
	margin: 90px 0;
	max-width: 575px;
	padding-left: 55px;
}

.width-100 {
	width: 100%;
}

.box-shadow {
	border-radius: 8px;
	box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.15);
}

.image-shadow {
	border-radius: 8px 8px;
	box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}

/* margin and padding classes */

.margin-right-15 {
	margin-right: 15px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-right-25 {
	margin-right: 25px !important;
}

.margin-left-25 {
	margin-left: 25px !important;
}

.margin-left-20 {
	margin-left: 20px !important;
}

.margin-top-120 {
	margin-top: 120px !important;
}

.margin-top-110 {
	margin-top: 110px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-90 {
	margin-top: 90px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-70 {
	margin-top: 70px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-35 {
	margin-top: 35px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-5 {
	margin-top: 5px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-bottom-130 {
	margin-bottom: 120px !important;
}

.margin-bottom-140 {
	margin-bottom: 140px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-25 {
	padding-top: 25px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-top-35 {
	padding-top: 35px !important;
}

.padding-top-40 {
	padding-top: 40px !important;
}

.padding-top-45 {
	padding-top: 45px !important;
}

.padding-top-50 {
	padding-top: 50px !important;
}

.padding-top-60 {
	padding-top: 60px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-80 {
	padding-top: 80px !important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-120 {
	padding-top: 120px !important;
}

.padding-top-150 {
	padding-top: 150px !important;
}

.padding-bottom-70 {
	padding-bottom: 70px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-50 {
	padding-bottom: 50px !important;
}

.padding-bottom-40 {
	padding-bottom: 40px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.padding-left-20 {
	padding-left: 20px;
}

/* ========================================================== */
/* 			               02. MENU-NAV                       */
/* ========================================================== */

.navbar-brand {
	font-family: 'Nunito', sans-serif;
	font-size: 28px;
	font-weight: 700;
	color: #e52f37;
}

.navbar-brand:hover {
	color: #e52f37;
}

.navbar-fixed-top.opaque .navbar-brand {
	color: #e52f37;
}

.navbar-fixed-top.opaque .navbar-brand:hover {
	color: #e52f37;
}

.navbar {
	width: 100%;
	z-index: 9999;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-toggler {
	border: 1px solid #e52f37;
}

.navbar-toggler-icon {
	width: 1.3em;
	height: 1.3em;
}

.navbar-toggler-icon i {
	color: #e52f37;
	vertical-align: middle;
}

.navbar-fixed-top {
	position: absolute !important;
	background-color: #fff;
	border-bottom: none;
	transition: background-color 0.25s ease 0s;
}

.navbar-fixed-top.opaque {
	position: fixed !important;
	top: 0;
	margin-top: 0;
	background-color: #fff !important;
	border-bottom: 1px solid #efefef;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04) !important;
	transition: all 0.25s ease-in-out 0s;
}

.navbar-fixed-top .navbar-nav>li>a {
	color: #071e55;
	font-size: 17px !important;
	line-height: 30px !important;
	padding: 10px 15px !important;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

.navbar-fixed-top.opaque .navbar-nav>li>a {
	color: #071e55;
}

.navbar-fixed-top .navbar-nav>li>a:hover {
	color: #e52f37 !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navbar-fixed-top.opaque .navbar-nav .current a {
	color: #e52f37 !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navbar-fixed-top .navbar-nav>li>a.discover-btn {
	border: 1px solid #e52f37;
	color: #fff !important;
	background: #e52f37;
	border-radius: 23px 23px;
	padding: 12px 18px !important;
	margin-left: 10px;
	margin-right: 15px;
	font-family: 'Nunito', sans-serif;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navbar-fixed-top .navbar-nav>li>a.discover-btn:hover {
	color: #e52f37 !important;
	background: transparent;
	border: 1px solid #e52f37;
}

.navbar-fixed-top.opaque .navbar-nav>li>a.discover-btn {
	color: #fff !important;
	background: #e52f37;
	border: 1px solid #e52f37;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navbar-fixed-top.opaque .navbar-nav>li>a.discover-btn:hover {
	border: 1px solid #e52f37;
	color: #e52f37 !important;
	background: transparent;
}

/* ========================================================== */
/* 			                03. FOOTER                        */
/* ========================================================== */

.footer {
	position: relative;
	overflow: hidden;
	display: block;
	padding: 40px 0 20px 0;
	background-color: #fafbfc;
}

.footer p {
	margin-bottom: 5px;
	line-height: 24px;
	color: #454545;
}

.footer p>a {
	font-size: 17px;
	color: #e52f37;
	text-decoration: underline;
}

.footer p>a:hover {
	color: #e52f37;
	text-decoration: underline;
}

span.template-name {
	font-weight: bold;
}

a.footer-links {
	display: block;
	font-size: 17px;
	margin-bottom: 2px;
	color: #454545;
}

a.footer-links:hover {
	color: #e52f37;
	text-decoration: underline;
	transition: all .5s ease-in-out;
}


ul.footer_social li {
	display: inline-block;
	margin: 0;
	line-height: 100% !important;
}

ul.footer_social li a i {
	display: inline-block;
	margin: 0 8px;
	padding: 0;
	font-size: 26px !important;
	line-height: 26px !important;
	color: #1e90ff;
	transition: all .5s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

ul.footer_social li a i.fa-twitter {
	color: #4099ff;
}

ul.footer_social li a i.fa-pinterest {
	color: #C92228;
}

ul.footer_social li a i.fa-facebook-square {
	color: #3b5998;
}

ul.footer_social li a i.fa-instagram {
	color: #8a3ab9;
}

ul.footer_social li a i.fa-skipe {
	color: #00aff0;
}

ul.footer_social li a i.fa-dribble {
	color: #ea4c89;
}

ul.footer_social li a i:hover {
	color: #e52f37 !important;
}

/* ========================================================== */
/* 			               04. HOME                           */
/* ========================================================== */

.home-section {
	position: relative;
	z-index: 999;
	padding-top: 179px;
	padding-bottom: 179px;
	background: url(../images/bg10.jpg) top center no-repeat;
	background-size: cover;
}

.home-section-overlay {
	width: 100%;
	background: #000;
	opacity: 0.45;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.home-section h1 {
	margin-bottom: 20px;
	line-height: 1.2;
	color: #fff;
	text-shadow: 1px 1px #373737;
}

.home-section p.hero-text {
	margin-bottom: 35px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px #373737;
}

/* -----  Newsletter ----- */

.submit-button-newsletter {
	width: 145px;
	height: 59px;
	padding: 20px 22px;
	background: #e52f37;
	border: none;
	color: #fff;
	display: inline;
	margin: 0 0 0 -5px;
	moz-border-radius: 30px 30px;
	-webkit-border-radius: 30px 30px;
	border-radius: 30px 30px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Cabin', sans-serif;
	vertical-align: top;
	transition: background-color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
}

.submit-button-newsletter:hover {
	cursor: pointer;
	background-color: #df2931;
	color: #fff;
	transition: background-color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
}



/* ========================================================== */
/* 			               05. TEAM                           */
/* ========================================================== */

.team-item {
	padding: 10px 25px 30px 25px;
	background-color: #fff;
	border: 1px solid #e5efff;
	border-top: none;
	text-align: center;
	transition: all 1s;
	border-radius: 0 0 8px 8px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-item h3 {
	margin: 20px 0 20px 0 !important;
	color: #454545;
	font-size: 18px;
	text-transform: uppercase;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.team-info {
	display: block;
	margin-bottom: 0;
}

.team-info p {
	color: #acacac;
	font-style: italic;
}

.team-info::after {
	background: #e52f37;
	display: inline-block;
	vertical-align: middle;
	content: "";
	width: 50px;
	height: 3px;
	margin-top: -20px;
}

.team-img {
	border-radius: 8px 8px 0 0;
}

/* ========================================================== */
/* 			                06. FEATURES                      */
/* ========================================================== */

.services-wrapper {
	position: relative;
}

.main-services {
	position: relative;
	margin: 10px 5px;
	overflow: hidden;
	text-align: center;
	transition: all 1s;
}

.main-services:hover {
	transform: scale(1.025);
	transition: all 1s;
}

.main-services img {
	width: 100%;
	max-width: 200px;
	margin-bottom: 10px;
	border-radius: 50%;
}

.main-services h3 {
	margin-bottom: 5px;
}

.main-services h3 a {
	font-size: 22px;
	font-weight: 700;
	color: #e52f37;
}

.main-services h4 {
	margin-bottom: 10px;
	font-size: 21px;
	font-weight: 700;
}

.main-services p {
	padding: 0 10px;
	margin-bottom: 15px;
}

.main-services i {
	margin-bottom: 15px;
	display: inline-block;
	padding: 16px 16px;
	font-size: 40px;
	line-height: 46px;
	width: 75px;
	height: 75px;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	background-color: #e52f37;
}

.main-services.red i {
	background-color: #e52f37;
}

.main-services.blue i {
	background-color: #1e90ff;
}

.main-services.green i {
	background-color: #27b36a;
}

blockquote {
	font-size: 16px;
	color: #4285f4;
	border-left: 2px solid #4285f4;
}

.faq-box {
	margin: 30px 0 0 0;
	transition: all 1s;
}

.faq-box h4 {
	font-size: 20px;
	margin-bottom: 10px;
}

.faq-box h5 {
	margin-bottom: 7px;
}

.faq-box p {
	color: #7c8595;

}

#pmai {
	display: none;
}

/* Features */
.feature-box {
	overflow: hidden;
	margin: 40px 0 0 0;
}

.feature-box i {
	float: left;
	font-size: 50px;
	line-height: 50px;
	width: 55px;
	height: 55px;
	text-align: center;
	color: #50a0d2;
}

.feature-box.light-blue i {
	color: #50a0d2;
}

.feature-box.dark-blue i {
	color: #3473b8;
}

.feature-box.light-green i {
	color: #a9d129;
}

.feature-box.dark-green i {
	color: #87ac34;
}

.feature-box.orange i {
	color: #fe9c24;
}

.feature-box.light-red i {
	color: #fc6a3f;
}

.feature-box.pink i {
	color: #ea4c89;
}

.feature-box-text {
	float: left;
	width: 75%;
	margin-left: 30px;
}

.feature-box h4 {
	font-size: 20px;
	margin-bottom: 10px;
}

.feature-box p {
	color: #7c8595;
}

/* ========================================================== */
/* 						   07. PORTFOLIO                      */
/* ========================================================== */

.gallery-insta {
	margin: 0 !important;
}

.gallery-insta img {
	border-radius: 0 !important;
	padding: 5px 5px;
}

p.follow-instagram a {
	color: #e52f37;
}

.popup-wrapper {
	display: block;
	position: relative;
	overflow: hidden;
}

.popup-gallery {
	display: inline-block;
	position: relative;
}

.popup-gallery img {
	position: relative;
	z-index: 10;
	width: 100%;
	height: auto;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.gallery-a::before {
	content: '';
	position: absolute;
	top: 1.5%;
	right: 1%;
	width: 97.5%;
	height: 97%;
	z-index: 11;
	background-color: rgb(0 0 0 / 40%);
	opacity: 1;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.gallery-a-1::before {
	content: '';
	position: absolute;
	top: 1%;
	right: 1%;
	width: 97.5%;
	height: 98%;
	z-index: 11;
	background-color: rgb(0 0 0 / 40%);
	opacity: 1;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.popup-gallery:hover img {
	opacity: 0.25;
}

.popup-gallery a span.eye-wrapper,
.popup-gallery a span.eye-wrapper2 {
	background-color: #e52f37;
	position: absolute;
	display: block;
	overflow: hidden;
	z-index: 12;
	width: 90%;
	height: 90% !important;
	top: 5%;
	left: 5%;
	font-size: 22px;
	color: #fff;
	text-align: center;
	font-weight: 300;
	opacity: 0;
}

.popup-gallery a span.eye-wrapper i.eye-icon,
.popup-gallery a span.eye-wrapper2 i.eye-icon {
	position: absolute;
	display: inline-block;
	font-size: 36px;
	z-index: 12;
	top: 50% !important;
	margin-top: -18px !important;
	left: 0%;
	right: 0%;
}

.popup-gallery a:hover span {
	opacity: 1;
}

.popup-gallery h3 {
	position: absolute;
	display: block;
	overflow: hidden;
	z-index: 12;
	top: 45%;
	left: 35%;
	font-size: 30px;
	text-align: center;
	font-weight: 300;
	opacity: 1;
	color: white;
}

.popup-gallery img,
.popup-gallery a span {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.gallery-item {
	margin-bottom: 37px;
}

/* ========================================================== */
/* 			               08. PRICING                        */
/* ========================================================== */

.price-box-white {
	text-align: center;
	background-color: #fff;
	border: 1px solid #dde9fb;
	box-shadow: 0 8px 19px 0 rgba(0, 0, 0, .05);
	padding: 50px 20px;
	width: 90%;
	margin-top: 30;
	margin-bottom: 20px;
	margin-left: 20px;
	border-radius: 8px 8px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.price-box-grey {
	text-align: center;
	background: #e52f37;
	border: 2px solid #e52f37;
	box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
	padding: 50px 20px;
	width: 90%;
	margin-top: 30;
	margin-bottom: 20px;
	margin-left: 20px;
	border-radius: 8px 8px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.price-box-grey:hover,
.price-box-white:hover {
	transform: scale(1.03, 1.03);
	-ms-transform: scale(1.03, 1.03);
	/* IE 9 */
	-webkit-transform: scale(1.03, 1.03);
	/* Safari */

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.price-box-white .price-title,
.price-box-white ul.pricing-list li.price-value {
	color: #292929;
}

.price-box-grey .price-title,
.price-box-grey ul.pricing-list li.price-value {
	color: #fff;
}

.price-box-white .price-subtitle,
.price-box-white .price-text {
	color: #6a6a6a;
}

.price-box-grey .price-subtitle,
.price-box-grey .price-text {
	color: #fff;
}

ul.pricing-list li.price-title {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: 1px;
}

ul.pricing-list li.price-value {
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	line-height: 70px;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}

ul.pricing-list li.price-subtitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

ul.pricing-list li.price-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	margin-bottom: 5px;
}

ul.pricing-list li.price-tag a {
	color: #e52f37;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 23px 23px;
	padding: 15px 30px;
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	margin: 40px 0 30px 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

ul.pricing-list li.price-tag a:hover {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
}

/* ========================================================== */
/* 			               11. OTHER ELEMENTS                 */
/* ========================================================== */

/* a) Buttons */
.btn-white {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #e52f37;
	background-color: #ffffff;
	border: 1px solid #fff;
	box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
	border-radius: 23px 23px;
	margin: 10px 10px;
	padding: 16px 26px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-white:hover {
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	color: #e52f37 !important;
	background: #f9f9f9;
}

.btn-white-border {
	color: #fff;
	background: transparent;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	border: 1px solid #fff;
	border-radius: 23px 23px;
	margin: 10px 10px;
	padding: 16px 26px;
	display: inline-block;
	box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-white-border:hover {
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	color: #e52f37 !important;
	background: #f9f9f9;
}

.btn-white i,
.btn-white-border i {
	font-size: 22px;
	line-height: 22px;
	margin-right: 10px;
	vertical-align: text-top;
}


.btn-red {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #fff;
	background-color: #e52f37;
	border: 1px solid #e52f37;
	box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
	letter-spacing: 1px;
	border-radius: 23px 23px;
	margin: 5px 10px 10px 0;
	padding: 18px 25px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-red:hover {
	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
	color: #fff !important;
	background: #e52f37;
}

.btn-blue.small,
.btn-blue-line.small,
.btn-red.small,
.btn-red-line.small,
.btn-white.small,
.btn-white-border.small {
	font-size: 16px;
	padding: 14px 20px;
}

.btn-red-line {
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #e52f37;
	background-color: #fff;
	border: 1px solid #e52f37;
	border-radius: 23px 23px;
	margin: 15px 10px 0 0;
	padding: 20px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-red-line:hover {
	color: #fff !important;
	background: #e52f37;
}

a.btn-red:visited,
a.btn-red:focus {
	color: #fff !important;
}

/* ----- e) Dropcaps Features ----- */
.nav-pills .nav-link {
	margin-bottom: 10px;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
	border: none !important;
	transition: all 1s;
}

.nav-pills .nav-link:hover {
	color: #fff;
	background-color: #fff;
	border: none !important;
	border-radius: 8px !important;
	box-shadow: 0 12px 55px 0 rgba(0, 0, 0, .05) !important;
	-moz-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, .05) !important;
	-webkit-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, .05) !important;
	transition: all 1s;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #fff;
	border: 1px solid #f4f5f6 !important;
	border-radius: 8px !important;
	box-shadow: 0 12px 55px 0 rgba(0, 0, 0, .05) !important;
	-moz-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, .05) !important;
	-webkit-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, .05) !important;
	transition: all 1s;
}

.features-second {
	margin: 10px 0;
}

.features-second h4 {
	margin-top: 10px;
	font-size: 21px;
}

.features-second p {
	margin-bottom: 10px;
}

.dropcaps-circle {
	float: left;
	margin: 1px 25px 10px 0;
	background-color: #fcfcfc;
	border: 1px solid #eaeaea;
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	color: #017df7;
	font-size: 40px;
	line-height: 80px;
	position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
}

.dropcaps-circle.blue {
	color: #1e90ff;
}

.dropcaps-circle.red {
	color: #e52f37;
}

.dropcaps-circle.green {
	color: #27b36a;
}



.myswiper .swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 87%;
	right: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 1.5rem;
	color: #000;
}

.countryswiper .swiper-button-next:after {
	color: #ffffff;
}

.countryswiper .swiper-button-prev:after {
	color: #ffffff;
}

.myswiper .swiper-button-next {
	position: absolute;
	top: 95%;
	width: calc(var(--swiper-navigation-size)/ 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.myswiper .swiper-button-prev {
	position: absolute;
	top: 95%;
	width: calc(var(--swiper-navigation-size)/ 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-button {
	width: 145px;
	height: 59px;
	background: #e52f37;
	border: none;
	color: #fff;
	display: inline;
	margin: 0 0 0 -5px;
	moz-border-radius: 30px 30px;
	-webkit-border-radius: 30px 30px;
	border-radius: 30px 30px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Cabin', sans-serif;
	vertical-align: top;
	transition: background-color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
}

.swiper-button:hover {
	cursor: pointer;
	background-color: #df2931;
	transition: background-color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
}

.swiper-button {
	display: inline-block;
	width: 125px;
}

.myswiper {
	padding-bottom: 10%;
	padding-top: 1%;
}

.footer_fast-link {
	padding-left: 20%;
}

.accordion-box .block .acc-btn .icon-outer {
	position: absolute;
	top: 25px;
	right: 10%;
	font-size: 20px;
	color: #2b3c6b;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: all 500ms ease;
	z-index: 1;
}

.icon {
	position: fixed;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	line-height: 56px;
	z-index: 9999;
	font-size: 25px;
	cursor: pointer;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	display: block;
	border-radius: 50%;
	-webkit-animation: backto-top-bounce 4s infinite ease-in-out;
	animation: backto-top-bounce 4s infinite ease-in-out;
}

.icon a {
	color: #fff;
}

.whatsapp {
	right: 30px;
	bottom: 35px;
	background-color: #42cba5;
}

.phone {
	/* left: 40px; */
	right: 30px;
	/* bottom: 75px; */
	bottom: 120px;
	background-color: #e52f37;
}

.faq-page-section {
	position: relative;
}

.faq-page-section .content-box .sec-title {
	margin-bottom: 32px;
}

.faq-page-section .content-box .text p {
	position: relative;
	display: block;
	margin-bottom: 26px;
}

.faq-page-section .faq-content {
	margin-top: 6px;
}

.faq-content {
	position: relative;
	display: block;
}

.faq-content .sec-title {
	position: relative;
	display: block;
}

.accordion-box {
	position: relative;
}

.accordion-box .block {
	position: relative;
	margin-bottom: 20px;
	border-radius: 20px;

}

.accordion-box .block .acc-btn h4 {
	position: relative;
	display: block;
	font-size: 20px;
	font-weight: 700;
	color: #3b3634;
	padding: 28px 0px 34px 0px;
	cursor: pointer;
	transition: all 500ms ease;
}

.accordion-box .block .acc-content {
	position: relative;
	display: none;
	padding-top: 10px;
	padding-bottom: 30px;
}

.accordion-box .block .acc-content.current {
	display: block;
}

.accordion-box .block .acc-btn.active .icon-outer i:before {
	position: relative;
	font-size: 20px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 700;
	margin: 0px;
	content: "\f068";
}

.padd-b {
	padding-bottom: 0px;
}

.footer a {
	color: #071e55;
	font-size: 17px !important;
	line-height: 30px !important;
	padding: 10px 6px !important;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

.footer a:hover {
	color: #e52f37;
}

.footer span {
	font-family: 'Nunito', sans-serif;
	line-height: 1.2;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 20px;
	color: #071e55;
	font-weight: 700;
}

.header-top {
	position: relative;
	display: block;
	background: #e52f37;
	width: 100%;
	padding: 16px 0px 0px 0px;
}

.header-top .social-list li {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.header-top .social-list li:last-child {
	margin-left: 0px;
}

.header-top .social-list li a {
	position: relative;
	display: inline-block;
	font-size: 15px;
	line-height: 26px;
	color: #fff;
}

.header-top .social-list li a:hover,
.header-top .header-info li a:hover {
	color: #ffffff;
}

.header-top .header-info li {
	position: relative;
	display: inline-block;
	padding: 0px 22px 0px 0px;
}

.header-top .header-info li:last-child {
	margin-left: 0px;
}

.header-top .header-info li:before {
	position: absolute;
	content: '';
	height: 20px;
	width: 1px;
	top: 5px;
	left: -18px;
}

.header-top .header-info li:last-child:before {
	display: none;
}

.header-top .header-info li i {
	position: absolute;
	right: 0px;
	top: 7px;
	font-size: 14px;
	color: #ffffff;
}

.header-top .header-info li a {
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: #fff;
}

.clearfix {
	display: flex;
	justify-content: space-between;
}

.clearfix::after {
	display: none;
	clear: both;
	content: "";
}


/* ========================================================== */
/* 			             11. MEDIA QUERIES                    */
/* ========================================================== */

@media (max-width: 991px) {

	.navbar-fixed-top.opaque {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navbar-fixed-top .navbar-nav>li.discover-link {
		margin-top: 10px;
	}

	.navbar-fixed-top .navbar-nav>li>a.discover-btn {
		padding: 8px 12px !important;
		margin-left: 20px;
		font-size: 17px !important;
	}

	.home-section {
		padding-top: 170px;
		padding-bottom: 70px;
		background-attachment: inherit;
	}

	.home-section h1 {
		font-size: 38px;
		line-height: 44px;
	}

}

@media (max-width: 768px) {

	.navbar-fixed-top {
		background-color: #fff;
	}

	.home-section {
		padding-top: 65px;
		padding-bottom: 90px;
		background-attachment: inherit;
	}

	.home-section-overlay {
		opacity: 0.37;
	}

	.footer {
		padding-top: 40px;
	}

	.footer-top i {
		display: block;
		margin-top: 50px !important;
	}

	ul.footer_social {
		margin-top: 15px;
		margin-bottom: 15px;

	}

	.all-right {
		margin-top: 50px;
	}

	ul.footer_social li a i {
		margin: 0 8px !important;
	}


	.top-margins-images {
		margin-top: 50px;
	}

	.bottom-margins-images {
		margin-bottom: 50px;
	}

	.section-bg-1,
	.section-bg-2,
	.section-bg-3 {
		background-attachment: inherit;
	}

	.myswiper .swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 80%;
		right: auto;
	}

	.popup-gallery .h-100 {
		height: auto !important;
	}

	.image-div {
		height: auto;
	}
}
	
@media (width:768px) {
	.popup-gallery h3 {
		top: 42%;
		left: 27%;
	}

}

@media (max-width:500px) {
	.footer_fast-link {
		padding-left: 0px;
		padding-top: 20px;
	}
}

@media (max-width: 375px) {

	.navbar-toggle {
		border: 1px solid #9f9f9f !important;
	}

	.home-section {
		padding-top: 65px;
		padding-bottom: 70px;
	}

	.home-section h1 {
		font-size: 38px;
		line-height: 44px;
	}

	.submit-button-newsletter {
		display: inline-block;
		width: 125px;
	}

	#newsletter-section .padding-top-60 {
		padding-top: 0 !important;
	}

	#newsletter-section h3 {
		font-size: 24px !important;
	}

	.card {
		box-shadow: none;
	}

	.card-header h5 .btn-link {
		font-size: 16px;
		clear: left;
	}

	.card-header h5 .btn-link p {
		margin-top: 7px;
	}

	.card-header h5 .btn-link p span {
		display: block;
		font-size: 15px;
	}

	.section-white {
		padding: 60px 0 70px 0 !important;
	}

	.section-white.small-padding-bottom,
	.section-grey.small-padding-bottom {
		padding: 60px 0 50px 0 !important;
	}

	.margin-left-20 {
		margin-left: 1px !important;
	}

	.services-wrapper {
		margin-top: 30px;
	}

	.small-col-inside {
		margin: 50px 0;
		padding-right: 25px;
		padding-left: 25px;
	}

	.partners img.partners {
		margin: 10px 25px 10px 0;
		max-height: 40px;
	}

	.feature-box {
		text-align: center;
	}

	.feature-box i {
		display: inline-block;
		float: none;
		margin-bottom: 25px;
	}

	.feature-box-text {
		width: 100%;
		margin-left: 0;
	}

	.myswiper .swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 73%;
		right: auto;
	}

}

@media (max-width: 320px) {

	.accordion-box .block .acc-btn .icon-outer {
		right: 0%;
	}
}
